<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
   
   .button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>
</head>
<body style="background-color: #f6f6f6">

    <div style="background: white; margin:60px">
       <br>
       <h2 align="center">Hi <%= @reservation.restaurant.name %>, New Guest Reservation has been registered in the system, Below are the details:</h2>
       <h2 align="center">Previous Details</h2>
       <p style="padding-left: 55px; padding-top: 55px">Name: <%= @reservation.versions.last.reify.guest.name %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Email: <%=@reservation.versions.last.reify.guest.email %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Table: <%=@reservation.versions.last.reify.restaurant_table.name %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Guest: <%=@reservation.versions.last.reify.guest_count %></p>
       <br>
       <br>
       <h2 align="center">Updated Details:</h2>
       <p style="padding-left: 55px; padding-top: 55px">Name: <%= @reservation.guest.name %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Email: <%=@reservation.guest.email %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Table: <%=@reservation.restaurant_table.name %></p>
       <p style="padding-left: 55px; padding-right: 55px;">Guest: <%=@reservation.guest_count %></p>
       <br>
       <br>
    </div>
   
	
</body>
</html>